# gitignore template for Jupyter Notebooks

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

pictures/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/